#setting-outer-div{
    position: absolute;
    width: 50vw;
     background-color: rgba(2, 194, 232, 0.2);
    z-index: 5;
    width: 80vw;
    max-width: 700px;
    -webkit-box-shadow:0px 0px 11px -1px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.31);
box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.31);
    margin-top:5vw; 
    color: black;                 
    margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
 
}
#setting-h1{
    /* color: black; */
    width: 50px;
    float: left;
    margin: 20px;
    color: #004e5e;

}
.settings-inner-div{
    width: 80%;
    margin: auto;
    margin-top:30px; 
}
#setting-form input{
    border-radius: 100px;
    height: 50px;
    /* border-color: #2c626d; */
    /* color: #02c0e8; */
    border-width: 0;
    background-color: rgba(0, 130, 156, 0.3);
}
#setting-form label{
  font-size: 17px;
}
#toggle-switch{
    /* margin-top: 100px; */
    padding-top: 7px; 
    padding-left: 20px; 
    
}
.form-group  {
    margin-top:40px; 
}
.setting-button{
    background-color: rgba(2, 192, 232,0.55);
    /* background-image:linear-gradient(141deg, #01D8DD 0%,  #01D8DD 50%,#02E9D3 75%);; */
    border-width: 0px;
    padding: 15px;
    max-width: 150px;
    width:40%;
    margin: 10px;
    border-radius: 30px;
    color: white;
}
.setting-button:active{
    outline:0;
}
.setting-button:focus{
    outline:0;
}
.setting-button-div{
    margin-top:50px; 
    margin-bottom:20px; 
}